*{
	box-sizing: border-box;
}
.error{
	font-size: 16px;
	display: none;
	color: red;
}
/*task2-3*/
.image-cyc{
	position: relative;
	overflow: hidden;
	height: 305px;
	width: 500px;
}
.image-cyc ul{
	margin: 0px;
	padding: 0px;
}
.image-cyc li{
	list-style:none;
}
ul.image-wrap {
	position: absolute;
	width: 2500px;
}
.image-wrap li{
	position: relative;
	float: left;
}
.image-wrap li.active{
	
}
ul.image-nav{
	position: absolute;
    bottom: 10px;
    left: 210px;
}
.image-nav li{
	display: inline-block;
}
.image-nav li a{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 1px solid #fff;
}
.image-nav .active a {
    background-color: #fff;
}
/*task2-4*/
input#autocomplete {
    width: 150px;
    height: 30px;
    margin: 0;
    margin-left: 50px; 
    padding: 3px 5px;
    border: 1px solid  #888;
    box-sizing: border-box; 
    outline: 0;  
}
.hint-wrap{
	margin-left: 50px;
	
}
ul.hint-ul{
	width: 150px;
	box-sizing: border-box;  
	padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: 0;
}
.hint-wrap li{
	list-style: none;
	padding: 5px 10px;
	border-top: 1px solid #ccc;
	cursor: default;
}
.hint-wrap li span{
	color: red;
}
.hint-wrap li:first-child{
	border-top: 0px;
}
.hint-wrap li.active{
	background-color: #ddd;
}
/*task2-5*/
.main{
	position: absolute;
}
.con{
	width: 204px;
	min-height: 700px;
	float: left;
	border:2px solid black;
	margin-left: 200px;
}
.box{
	width: 200px;
	height: 60px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 60px;
	font-size: 20px;
	font-family: "Arial";
	background-color: red;
	text-align: center;
	cursor: move;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dragged {
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 16px;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 16px;
    z-index: 999;
}
.drag-over {
    border: 4px dashed #34ED16;
    width: 192px;
    height: 64px;
    line-height: 64px;
}